@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .list-cont:hover input~.checkmark{
        background-color: #ccc;
    }
    .list-cont input:checked ~.checkmark{
        background-color: darkcyan;
    }
    .checkmark::after{
        content: '';
        position: absolute;
        background-color: white;
        width: 7px;
        height: 7px;
        left: 6px;
        top: 6.5px;
        border-radius: 50%;
        display: none;
    }
    .list-cont input:checked ~ .checkmark::after{
        display: block;
    }
    .list-p:hover input~.checkmark-p{
        background-color: #ccc;
    }
    .list-p input:checked ~.checkmark-p{
        background-color: darkcyan;
    }
    .checkmark-p::after{
        content: '';
        position: absolute;
        background-color: white;
        width: 7px;
        height: 7px;
        left: 6px;
        top: 6.5px;
        border-radius: 50%;
        display: none;
    }
    .list-p input:checked ~ .checkmark-p::after{
        display: block;
    }
}